body{
    background-image: url('../images/ring.jpg');
    background-size: 100%;
    background-position: center;
    width: 100vw;
    height: 100vh;
    z-index: -2;
}

main{
    height: 70vh;
    width: 100vw;
}

.table-condensed{
    font-size: 10px;
}

#battle-scene{
    background-image: url('../images/fight-ring.jpg');
    background-size: cover;
}

.h1_fonts{
    font-family: 'Pacifico', cursive;
}

.fighter-card{
    transition: transform .2s;
}

.fighter-card:hover {
    transform: scale(1.1);
}

.ring-card{
    max-width: 15vw;
    max-height: 35vh;
}

.ring-card .h1_fonts{
    font-size: 18px;
}

.attack-button{
    font-size: 10px;
}

/* @media (min-width: 768px) {
    .container, .container-md, .container-sm {
        max-width: 100%;
    }
}

@media (min-width: 576px) {
    .container, .container-sm {
        max-width: 100%;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 100%;
    }
}
@media (min-width: 576px) {
    .container {
        max-width: 100%;
    }
} */